<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mad.prescriptionmanagementapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" /> <!-- Cho Android 13+ -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT"/>
    <uses-permission android:name="android.permission.INTERNET"/>
        />
    <!-- <uses-permission android:name="android.permission.WAKE_LOCK" /> --> <!-- Có thể không cần nếu dùng setExactAndAllowWhileIdle -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" /> <!-- Nếu bạn quyết định dùng service cho các tác vụ dài -->
    <application
        android:allowBackup="false"
        android:usesCleartextTraffic="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/app_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_logo"
        android:theme="@style/Theme.PrescriptionManagementApp"
        android:windowSoftInputMode="adjustResize"
        >
<!--        <activity-->
<!--            android:name=".ui.activity.PersonalInfoActivity"-->
<!--            android:exported="false" />-->
        <activity
            android:name=".ui.activity.SelectActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.SplashActivity"
            android:exported="true"
        >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
<!--        <activity-->
<!--            android:name=".MainActivity"-->
<!--            android:exported="true">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
<!--        </activity>-->

        <activity android:name=".ui.activity.kiet.MedicineScheduleActivity"
            android:exported="true">

        </activity>
        <activity
            android:name=".ui.activity.AddPrescriptionActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize">
        </activity>
         <activity
         android:name=".ui.activity.HomeActivity"
         android:exported="true">
         </activity>
        <activity
            android:name=".ui.activity.LoginActivity"
            android:exported="false"
            android:label="@string/title_activity_login" />
        <activity android:name=".ui.activity.kiet.ListPrescriptionActivity" />
        <activity android:name=".ui.activity.kiet.HistoryMedicineActivity" />

<!--                <activity android:name=".view.ListPrescriptionActivity"-->
<!--            android:exported="true">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->
<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
<!--        </activity>-->

        <!-- Activity màn hình báo thức (sẽ tạo) -->

        <receiver android:name=".broadcast.NotificationBroadcastReceiver"
            android:enabled="true"
            android:exported="false"/>

        <receiver android:name=".broadcast.ActionHandlerBroadcastReceiver"
            android:enabled="true"
            android:exported="false"/>

        <receiver android:name=".receiver.BootCompletedReceiver"
            android:enabled="true"
            android:exported="true">  <!-- Phải là true cho BOOT_COMPLETED -->
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <!-- DrugDetailActivity -->
        <activity
            android:name=".ui.activity.dang.DrugDetailActivity"
            android:exported="false" />
        <!-- MedicineSearchActivity -->
        <activity
            android:name=".ui.activity.dang.MedicineSearchActivity"
            android:exported="false" >

        </activity>
        <!-- ProfileActivity -->
        <activity
            android:name=".ui.activity.dang.ProfileActivity"
            android:exported="false">

        </activity>
        <!-- ProfileSettingActivity -->
        <activity
            android:name=".ui.activity.ProfileSettingActivity"
            android:exported="false" />
        <!-- TermsOfServiceActivity -->
        <activity
            android:name=".ui.activity.dang.TermsOfServiceActivity"
            android:exported="false" />
<!--        NotificationSettingsActivity-->
        <activity
            android:name=".ui.activity.dang.NotificationSettingsActivity"
            android:exported="false" />
<!--        TDEEActivity-->
        <activity
            android:name=".ui.activity.dang.TDEEActivity"
            android:exported="false"/>
    </application>



</manifest>